@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }
  body {
    @apply bg-wall-bg text-slate-200 antialiased;
  }
}

::-webkit-scrollbar {
  height: 6px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #2c2c3a;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
